$mainColor: linear-gradient(
  50deg,
  rgba(3, 134, 245, 1) 0%,
  rgba(24, 207, 192, 1) 100%
);
$wColor: #f9f9f9;
$gColor: #555;
$bColor: #111;
$boColor: rgba(0, 0, 0, 0.75);
$subColor: #026bfa;
:root {
  --mc: #026bfa;
  --sc: #026bfa;
  --lc: #f9f9f9;
  --dc: #444444;
  --gc: #dddddd;
}

body {
  background-color: #fff;
  font-size: 16px;
}

.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.cbtn {
  display: inline-block;
  padding: 15px 40px;
  color: var(--lc);
  font-size: 17px;
  background: linear-gradient(
    50deg,
    rgba(3, 134, 245, 1) 0%,
    rgba(24, 207, 192, 1) 100%
  );
  border-radius: 30px;
  margin: 0 0 40px 0;

  &:hover {
    filter: brightness(1.1);
  }

  ::after {
    content: "\e93e";
    font-family: xeicon;
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 10px;
    vertical-align: 1px;
  }
}

.csc {
  position: relative;
  padding: 100px 0;

  h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
  }

  p {
    font-size: 17px;
    margin: 0 0 40px 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .Wrapper {
    overflow-x: hidden;
  }

  $mainColor: #222;
  $wColor: #f9f9f9;
  $gColor: #555;
  $bColor: #111;
  $boColor: rgba(0, 0, 0, 0.75);
  $subColor: #fff;

  .inner {
    width: auto;
    margin: 0 auto;
  }

  body {
    background-color: #333;
  }
}
