@use "common";

.lang_box {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 2;
  border: 2px solid var(--gc);
  background: var(--lc);
  color: #444444;
  padding: 10px 10px;
  width: 120px;
  text-align: center;
  border-radius: 0px;

  li :hover {
    color: var(--mc);
  }
}
