@use "common";

.MainSlider {
  background: #ffffff;
  padding: 100px 0 0 0;

  .container {
    position: relative;

    .box {
      position: absolute;
      top: 250px;
      left: 50%;
      margin: 0 0 0 -540px;
      width: 350px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.075);
      background: #fff;
      padding: 50px 40px;
      border-radius: 30px;
      z-index: 999;

      .tit {
        font-size: 25px;
        margin: 0 0 20px 0;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        min-height: 120px;
        text-align: left;
        line-height: 1.45;
        word-break: keep-all;
      }

      .num {
        font-size: 40px;
        font-weight: 500;
        color: var(--mc);

        span {
          font-size: 20px;
          font-weight: 300;
          color: var(--dc);
        }
      }
    }

    .arrows i {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
      color: var(--lc);
      z-index: 999;

      &:first-child {
        margin: 0 0 0 -750px;
      }

      &:last-child {
        margin: 0 0 0 750px;
      }
    }

    .dots {
      text-align: center;
      font-size: 0;
      transform: translateY(-150px);

      li {
        display: inline-block;
        width: 4px;
        height: 10px;
        background: var(--lc);
        margin: 10px;
        vertical-align: middle;

        &.on {
          height: 30px;
          background: #ffffff;
        }
      }
    }

    .MainSlider_slide figure {
      height: calc(78vh - 155px);
      filter: grayscale(1);

      &.on {
        filter: grayscale(0);
        transition: all 500ms ease-in-out;
      }

      img {
        margin: 0 auto;
      }
    }
  }

  // 파도

  .boxx {
    width: 99.1vw;
    height: 300px;
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    top: 42.5%;
    z-index: 1;

    .wave {
      opacity: 1;
      position: absolute;
      top: 419%;
      left: -280%;
      background: #fff;
      width: 13000px;
      height: 13000px;
      margin-left: -250px;
      margin-top: -250px;
      transform-origin: 50% 48%;
      border-radius: 44%;
      animation: drift 12000ms infinite linear;
      overflow: hidden;

      &.-three {
        animation: drift 20000ms infinite linear;
        opacity: 0.9;
        background: #fff;
      }

      &.-two {
        animation: drift 25000ms infinite linear;
        opacity: 0.8;
        background: #fff;
      }

      @keyframes drift {
        from {
          transform: rotate(0deg);
        }

        from {
          transform: rotate(360deg);
        }
      }
    }
  }
}
